In [ ]:
"""
Welcome to the DAT file to Tabluar v1!!!

Steps!
1. Make sure you have the Importer File, it wont work unless you have it
2. Copy and paste any data other than test points to a different location, use the other DAT exporters for that data. 
3.
4.
5.
6.


Author-Chris Wrightstone


Issues to fix

Issues- Why are permenant Comments out of order
ON/OFF - Are also out of order

Since I know what the ON are off by can I just start the insert from a cell number


"""

In [1]:
import pandas as pd
import re
import os

In [66]:
# Check the contents of your DAT file below. 
data = open('2022 DTM MI Annual - Importer.txt', 'rt')
file = data.read()
data.close()
#print(file)

In [67]:
# Empty list for all the data to be entered into the headers
ROWCode = []
Milepost = []
LocationDescription = []
PermanentComments = []
# InspectionDate = [], its in the pattern TBD
ACP = []
On = []
Off = []
InspectionRemarks = []
Technician = []
InspectionLatitude = []
InspectionLongitude = []
Latitude = []
Longitude = []

In [68]:
# Start finding the data you wish to extract to your tabluar and add them to their respected empty list

#RC = re.findall("") = Why is the DEMO poping as b7755de8-7ce4-4765-851f-6c534087ce83? Is this the code for the import?

MP = re.findall("Milepost�(.*)��C", file)
for m in MP:
    Milepost.append(MP)
#print(Milepost)

LD = re.findall("Location Description�(.*)��C", file)
for l in LD:
    LocationDescription.append(LD)
#print(LD)

#PC = re.findall("Permanent Comments�(.*)��C", file)
#for p in PC:
    #PermanentComments.append(PC)
#print(PC)

IR = re.findall("Inspection Remarks�(.*)��C", file)
for i in IR:
    InspectionRemarks.append(IR)
#print(IR)

AC = re.findall("AC�(.*)��A2", file)
for a in AC:
    ACP.append(AC)
#print(AC)

ON = re.findall("\nOn�(.*)��V2", file)
for o in ON:
    On.append(ON)
#print(ON)

OFF = re.findall("Off�(.*)��V2", file)
for f in OFF:
    Off.append(OFF)
#print(OFF)

T = re.findall("\nTechnician�(.*)��C", file)
for t in T:
    Technician.append(T)
#print(T)

IL = re.findall("\nInspection Latitude�(.*)��GLAT", file)
for il in IL:
    InspectionLatitude.append(IL)
#print(IL)

ILon = re.findall("\nInspection Longitude�(.*)��GLONG", file)
for ilon in ILon:
    InspectionLongitude.append(ILon)
#print(ILon)

Lat = re.findall("\nLatitude�(.*)��GLAT��2V�0�T", file)
for lat in Lat:
    Latitude.append(Lat)
#print(Lat)

Lon = re.findall("\nLongitude�(.*)��GLONG��2V�0�T", file)
for lon in Lon:
    Longitude.append(Lon)
#print(Lon)

In [69]:
# Make the Tabular Column headers and the Excel you will be adding the data too
df = pd.DataFrame(columns= ["ROWCode", "Milepost", "LocationDescription", "AC", "On", "Off", "InspectionRemarks", "Technician", "InspectionLatitude", "InspectionLongitude", "Latitude", "Longitude"])
df.head()

Empty DataFrame
Columns: [ROWCode, Milepost, LocationDescription, AC, On, Off, InspectionRemarks, Technician, InspectionLatitude, InspectionLongitude, Latitude, Longitude]
Index: []

In [73]:
# Add the data collected from the pattern search into the DataFrame
mp = pd.Series(MP)
df["Milepost"] = mp

ld = pd.Series(LD)
df["LocationDescription"] = ld

ir = pd.Series(IR)
df["InspectionRemarks"] = ir

ac = pd.Series(AC)
df["AC"] = ac

on = pd.Series(ON)
df["On"] = on

off = pd.Series(OFF)
df["Off"] = off

tech = pd.Series(T)
df["Technician"] = tech

lt = pd.Series(IL)
df["InspectionLatitude"] = lt

ln = pd.Series(ILon)
df["InspectionLongitude"] = ln

#latt = pd.Series(Lat)
#df["Latitude"] = latt

#long = pd.Series(Lon)
#df["Longitude"] = long











df.head(300)

,ROWCode,Milepost,LocationDescription,AC,On,Off,InspectionRemarks,Technician,InspectionLatitude,InspectionLongitude,Latitude,Longitude
0,NaN,TP 702,"TAP ON THE 16"" ALPENA LINE. SOUTH OF M55.",1.305000,-1.266000,-1.266000,,CJLW,44.27668762,-84.19312286,NaN,NaN
1,NaN,TS 678,NOT SURE EXISITS STILL,,,,,CJLW,0.00000000,0.00000000,NaN,NaN
2,NaN,693.007,"2"" RISER OFF 16"" LAUNCHER BARREL TAG 7",4.742000,-1.751000,-1.107000,,CJLW,44.28345108,-84.19245911,NaN,NaN
3,NaN,693.003,"SOUTH FENCE 10"" NORTHSIDE RISER",0.083800,-1.447000,-1.447000,RFIT 100,CJLW,44.28334808-D,-84.19242096,NaN,NaN
4,NaN,693.002,"SOUTH FENCE 10"" RISER TRANSITION BETWEEN ISO",0.467000,-1.629000,-1.626000,,CJLW,44.28331757-D,-84.19241333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,TS 1544 TS 1545,N/S ZUE RD,4.828000,-1.308000,-0.970000,ANODE -1660MV -1662MV. CASING -325MV -325MV,AHRIS W,44.52735901,-85.72739410,NaN,NaN
296,NaN,TS 1084.002,"6"" BLOW OFF. MLV4",,,,,AHRIS W,0.00000000,0.00000000,NaN,NaN
297,NaN,TS 1543.001,"1"" W/S RISER TO LAMBDA. ISO FLANGE",2.111000,-1.374000,-1.176000,RFIT 100.,AHRIS W,44.52806091-D,-85.72706604,NaN,NaN
298,NaN,TS 1541,1200' N/O ZUE RD,4.615000,-1.306000,-0.907000,ANODE -1705MV -1704MV,AHRIS W,44.53684235,-85.72147369,NaN,NaN
299,NaN,TS 1540,800' S/O FRYZELKA RD,6.339000,-1.226000,-0.907000,ANODE -1626MV -1646MV,AHRIS W,44.53981781-D,-85.71931458,NaN,NaN

In [74]:
# Put your df in a csv. 

df.to_excel('DTM MI Progress 20220620_CJLW.xlsx')